{
  "env": {
    "browser": true,
    "es6": true,
    "node": true,
    "jest": true
  },
  "extends": "airbnb",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true,
      "modules": true
    },
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "parser": "babel-eslint",
  "plugins": [
    "react",
    "react-hooks"
  ],
  "rules": {
    "space-before-function-paren": [
      "off"
    ],
    "linebreak-style": [
      "off",
      "windows"
    ],
    "max-len": [
      "error",
      140
    ],
    "quotes": [
      "error",
      "single"
    ],
    "no-underscore-dangle": [
      "off"
    ],
    "spaced-comment": [
      "off"
    ],
    "class-methods-use-this": [
      "off"
    ],
    "padded-blocks": [
      "off"
    ],
    "no-console": [
      "warn",
      {
        "allow": [
          "info",
          "warn",
          "error"
        ]
      }
    ],
    "jsx-a11y/anchor-is-valid": [
      "off"
    ],
    "jsx-a11y/click-events-have-key-events": [
      "off"
    ],
    "jsx-a11y/label-has-for": "off",
    "dot-notation": [
      "warn",
      {
        "allowKeywords": true
      }
    ],
    "no-return-assign": [
      "error",
      "except-parens"
    ],
    "prefer-destructuring": [
      "off"
    ],
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [
          ".js",
          ".jsx"
        ]
      }
    ],
    "react/no-unused-prop-types": [
      "warn"
    ],
    "react/prefer-stateless-function": [
      "off"
    ],
    "react/prop-types": [
      "warn",
      {
        "ignore": [
          "children"
        ]
      }
    ],
    "react/require-default-props": [
      "off"
    ],
    "react/forbid-prop-types": [
      "error",
      {
        "forbid": [
          "any",
          "array"
        ]
      }
    ],
    "react/jsx-closing-bracket-location": [
      "off"
    ],
    "react/jsx-props-no-spreading": [
      "off"
    ],
    "arrow-body-style": "off",
    "arrow-parens": "off",
    // to get rid of requirement of parens around single arguments
    "comma-dangle": [
      2,
      "only-multiline"
    ],
    "indent": [
      "error",
      2,
      {
        "ignoreComments": true
      }
    ],
    //no errors for comment indentations
    "jsx-a11y/label-has-associated-control": [
      0,
      "never"
    ],
    "no-multi-spaces": [
      "error",
      {
        "ignoreEOLComments": true
      }
    ],
    "prefer-template": "off",
    "react/destructuring-assignment": [
      0,
      "never"
    ],
    //turns off the requirement for deconstructing prop assignment
    "react/jsx-first-prop-new-line": "off",
    //concerns the placement of the props
    "react/jsx-one-expression-per-line": "off",
    //allow more than one expression per line like <Hello />{'world'}
    "react/sort-comp": "off",
    "react/static-property-placement": "off",
    "react-hooks/rules-of-hooks": "error",
    // Checks rules of Hooks
    "react-hooks/exhaustive-deps": "warn",
    // Checks effect dependencies
    "semi": "off",
    //ignoring semicolons
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": true
      }
    ]
  }
}