.container {
  background: #1a2b34;
}

.main {
  max-width: 500px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 4rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.article {
  width: 100%;
}

.articleNormal {
  composes: article;
  color: gray;
}

.articleTouched {
  composes: article;
  background: black;
  color: gray;
}

.articleActive {
  composes: article;
  background: black;
  color: white;
}

.word {
  font-size: 3rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 90%;
  cursor: pointer;
  line-height: 4.5rem;
}

.word {
  font-size: 3rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 90%;
  cursor: pointer;
  line-height: 4.5rem;
}


