.container {
  background: var(--theme-bg-color);
  color: var(--theme-text-color);
}

.main {
  max-width: 500px;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.h1 {
  margin: 0;
  margin-left: auto;
  padding: .3em;
  font-size: 20px;
}

.article {
  width: 100%;
  outline: none;
}

.articleNormal {
  composes: article;
  color: var(--theme-text-inactive-color);
}

.articleTouched {
  composes: article;
  background: var(--theme-bg-color);
  color: var(--theme-text-inactive-color);
}

.articleActive {
  composes: article;
  background: var(--theme-bg-color);
  color: var(--theme-text-color);
  border: 1px solid var(--theme-border-color);
}

.word {
  font-size: 3rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 90%;
  cursor: pointer;
  line-height: 4.5rem;
}

.meaning {
  font-size: .4em;
  line-height: 1rem;
  padding-bottom: 0.5rem;
}