.word {
  min-width: 300px;
  font-size: 3rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  line-height: 4.5rem;
  margin: 0.1rem;
  font-family:Georgia, 'Times New Roman', Times, serif;
}