.container {
  background: var(--theme-bg-color);
  color: var(--theme-text-color);
}

.h1 {
  margin: 0;
  padding: .5em;
  color: gray;
  text-align: right;
  font-size: 1em;
}

.main {
  max-width: 500px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.article {
  width: 100%;
  outline: none;
}

.articleNormal {
  composes: article;
  color: var(--theme-text-inactive-color);
}

.articleTouched {
  composes: article;
  background: var(--theme-bg-color);
  color: var(--theme-text-inactive-color);
}

.articleActive {
  composes: article;
  background: var(--theme-bg-color);
  color: var(--theme-text-color);
  border: 1px solid var(--theme-border-color);
}

.word {
  font-size: 3rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 90%;
  cursor: pointer;
  line-height: 4.5rem;
}

.index {
  float: left;
  font-size: .8em;
}
