.word {
  font-size: 3rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 90%;
  cursor: pointer;
  line-height: 4.5rem;
}

.index {
  float: left;
  font-size: .8em;
}
