.container {
  background: var(--theme-bg-color);
  color: var(--theme-text-color);
  margin-top: 2em;
}

.main {
  max-width: 500px;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
