.container {
  position: fixed;
  top: 0;
  width: 100%;
  background: var(--theme-bg-invert-color);
}

.h1 {
  margin: 0;
  padding: .5em;
  text-align: right;
  font-size: 1em;
  color: var(--theme-text-invert-color);
}