.container {
  position: fixed;
  top: 0;
  width: 100%;
  background: var(--theme-border-color);
  color: var(--theme-text-inactive-color);
}

.h1 {
  margin: 0;
  padding: .5em;
  text-align: right;
  font-size: 1em;
}

.navs {
  display: flex;
  justify-content: flex-end;
}

.nav {
  margin: 0.05em .2em;
  cursor: pointer;
  font-size: .9em;
}